/*Style.css*/
html,
body,
header,
{
    
    height: 100%;
}

h1 {
	font-family: 'Sofadi One', cursive;
	font-size: 2em;
}


h3, p {
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.5em;
}

body {
	background: url("../images/planets.jpg") no-repeat;
	background-size: cover;


}

span {
	font-family: 'Ubuntu', sans-serif;
	font-size: 1em;

}

.jumbotron {
	background-color: rgba(150,150,150,0.85); 
}

